# 추천시스템 week 2: Non-Personalized and Stereotype-Based Recommenders

**7개의 결과물** 
* 처음 세 가지 산출물은 개인화되지 않은 요약 통계(Non-Personalized)
* 다음 두 가지 산출물은 서로 다른 두 가지 메커니즘을 사용하여 제품 연관성을 나타낸다. 
* 마지막 두 가지는 이 데이터 집합에서 성별을 사용하는 것이 현명한지 여부를 탐구하기 위한 인구통계학적 분석을 나타낸다.

--------

* Mean Rating : 각 영화의 평균 등급을 계산하고 가장 높은 등급이 먼저 나열된 순서대로 상위 3개(상위 2의 평균 점수와 함께)를 제출한다.
* Rating Count(popularity) : 각 영화의 등급의 개수를 구하고, 가장 많은 등급의 개수를 먼저 추천하고, 상위 3개(상위 2개 카운트와 함께)를 제출한다.
* % of ratings 4+ (liking) : 등급이 4이상인 영화의 등급 비율을 계산한다. 가장 높은 등급 비율을 가진 것을 먼저 추천해주고, 상위 3개(상위 2개 백분율과 함께) 제출한다.
* 토이 스토리를 본 사람들의 인기 영화 : 수업에서 설명 된 (x + y) / x 방법을 사용하여 영화 "토이 스토리"에서 가장 자주 발생하는 영화를 계산하십시오. 즉, 각 영화에 대해 해당 영화를 평가 한 토이 스토리 평가자의 비율을 계산하십시오. 가장 높은 비율로 먼저 주문하고 상위 3 개 (상위 2 개에 대한 상관 관계와 함께)를 제출하십시오. 유대 관계를 가지십시오. 유대 관계를 끊으려면 가장 낮은 번호의 영화를 가장 높은 순위의 영화로 사용하십시오. 즉, 영화 541과 318이 묶여 있으면 318이 더 높은 순위를 얻습니다.  
* 토이 스토리와의 상관관계 : 토이 스토리의 평점 벡터와 서로의 영화 간의 상관 관계를 계산합니다. 가장 높은 상관 관계 (양수 만)로 정렬하고 상위 2에 대한 상관 값과 함께 상위 3 개를 제출하십시오. 동시 발생과 상관 관계의 차이점을 확인하십시오. 이러한 측정 항목은 다양한 유형의 관계를 보여줍니다.
* 성별에 따른 평균 평점 차이 : 먼저 남성과 여성에 대해 각 영화의 평균 등급을 개별적으로 다시 계산하십시오. 그리고 남성과 여성에 대한 전체 평균 평점 (모든 평점에 대한)을 계산합니다. 평균 차이와 함께 가장 큰 차이가있는 두 영화 (남자는 여자보다 높은 영화, 여자는 남자보다 높은 영화)를 제출합니다. 또한 전체 평점 평균 (여성 평균-남성 평균)의 차이를 제출하십시오.
* 성별에 따른 % of ratings 4+ : 위와 같이 두 개의 영화를 제출하십시오. (각 방향에서 가장 큰 차이). 그리고 다시 남성이나 여성이 별 4 개 이상의 영화를 평가할 가능성이 더 높은지를 나타냅니다.

## Load data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("HW1-data.csv", index_col="User")
data.head()

,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
User,,,,,,,,,,,,,,,,,,,,,
755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,NaN,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,4.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,NaN,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN

## 1. Mean Rating

In [3]:
movie = data.T #뒤집기
gender = movie.loc["Gender (1 =F, 0=M)"] #남녀 계산을 편하게 하기 위해 잠시 지우자
movie.drop("Gender (1 =F, 0=M)", inplace = True)
calculator = movie .copy() #계산을 위한 데이터 프레임
movie.head()

User,755,5277,1577,4388,1202,3823,5448,5347,4117,2765,5450,139,1940,3118,4656,4796,6037,3048,4790,4489
260: Star Wars: Episode IV - A New Hope (1977),1.0,5.0,NaN,NaN,4.0,2.0,NaN,4.0,5.0,4.0,2.0,3.0,2.0,3.0,4.0,NaN,NaN,4.0,5.0,1.0
1210: Star Wars: Episode VI - Return of the Jedi (1983),5.0,3.0,NaN,3.0,3.0,4.0,NaN,NaN,1.0,2.0,1.0,5.0,3.0,NaN,4.0,NaN,NaN,5.0,1.0,2.0
356: Forrest Gump (1994),2.0,NaN,NaN,NaN,4.0,4.0,3.0,NaN,NaN,NaN,5.0,2.0,NaN,3.0,NaN,1.0,NaN,1.0,NaN,2.0
"318: Shawshank Redemption, The (1994)",NaN,2.0,5.0,NaN,1.0,4.0,1.0,NaN,4.0,5.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,4.0
"593: Silence of the Lambs, The (1991)",4.0,4.0,2.0,NaN,4.0,NaN,1.0,3.0,2.0,3.0,NaN,2.0,4.0,2.0,5.0,3.0,4.0,1.0,NaN,5.0

In [4]:
mean = (calculator.sum(axis =1)/calculator.count(axis =1))
movie["Mean"] = mean
movie.head()

User,755,5277,1577,4388,1202,3823,5448,5347,4117,2765,...,139,1940,3118,4656,4796,6037,3048,4790,4489,Mean
260: Star Wars: Episode IV - A New Hope (1977),1.0,5.0,NaN,NaN,4.0,2.0,NaN,4.0,5.0,4.0,...,3.0,2.0,3.0,4.0,NaN,NaN,4.0,5.0,1.0,3.266667
1210: Star Wars: Episode VI - Return of the Jedi (1983),5.0,3.0,NaN,3.0,3.0,4.0,NaN,NaN,1.0,2.0,...,5.0,3.0,NaN,4.0,NaN,NaN,5.0,1.0,2.0,3.000000
356: Forrest Gump (1994),2.0,NaN,NaN,NaN,4.0,4.0,3.0,NaN,NaN,NaN,...,2.0,NaN,3.0,NaN,1.0,NaN,1.0,NaN,2.0,2.700000
"318: Shawshank Redemption, The (1994)",NaN,2.0,5.0,NaN,1.0,4.0,1.0,NaN,4.0,5.0,...,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,4.0,3.600000
"593: Silence of the Lambs, The (1991)",4.0,4.0,2.0,NaN,4.0,NaN,1.0,3.0,2.0,3.0,...,2.0,4.0,2.0,5.0,3.0,4.0,1.0,NaN,5.0,3.062500

Shawshank Redemption, The (1994), Star Wars: Episode IV - A New Hope (1977), Blade Runner (1982) 가 상위 세개이다.

In [5]:
mean.sort_values(ascending = False)

318: Shawshank Redemption, The (1994)                      3.600000
260: Star Wars: Episode IV - A New Hope (1977)             3.266667
541: Blade Runner (1982)                                   3.222222
1265: Groundhog Day (1993)                                 3.166667
593: Silence of the Lambs, The (1991)                      3.062500
296: Pulp Fiction (1994)                                   3.000000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3.000000
2028: Saving Private Ryan (1998)                           3.000000
34: Babe (1995)                                            3.000000
527: Schindler's List (1993)                               3.000000
3578: Gladiator (2000)                                     2.916667
2396: Shakespeare in Love (1998)                           2.909091
1198: Raiders of the Lost Ark (1981)                       2.909091
2571: Matrix, The (1999)                                   2.833333
2762: Sixth Sense, The (1999)                              2.833333
1: Toy Story (1995)                                        2.823529
780: Independence Day (ID4) (1996)                         2.769231
356: Forrest Gump (1994)                                   2.700000
1259: Stand by Me (1986)                                   2.636364
2916: Total Recall (1990)                                  1.916667
dtype: float64

## 2. Rating Count(popularity)

In [6]:
Popularity = calculator.count(axis =1)
movie["Popularity"] = Popularity
movie.head()

User,755,5277,1577,4388,1202,3823,5448,5347,4117,2765,...,1940,3118,4656,4796,6037,3048,4790,4489,Mean,Popularity
260: Star Wars: Episode IV - A New Hope (1977),1.0,5.0,NaN,NaN,4.0,2.0,NaN,4.0,5.0,4.0,...,2.0,3.0,4.0,NaN,NaN,4.0,5.0,1.0,3.266667,15
1210: Star Wars: Episode VI - Return of the Jedi (1983),5.0,3.0,NaN,3.0,3.0,4.0,NaN,NaN,1.0,2.0,...,3.0,NaN,4.0,NaN,NaN,5.0,1.0,2.0,3.000000,14
356: Forrest Gump (1994),2.0,NaN,NaN,NaN,4.0,4.0,3.0,NaN,NaN,NaN,...,NaN,3.0,NaN,1.0,NaN,1.0,NaN,2.0,2.700000,10
"318: Shawshank Redemption, The (1994)",NaN,2.0,5.0,NaN,1.0,4.0,1.0,NaN,4.0,5.0,...,5.0,NaN,NaN,NaN,NaN,5.0,NaN,4.0,3.600000,10
"593: Silence of the Lambs, The (1991)",4.0,4.0,2.0,NaN,4.0,NaN,1.0,3.0,2.0,3.0,...,4.0,2.0,5.0,3.0,4.0,1.0,NaN,5.0,3.062500,16

In [7]:
Popularity.sort_values(ascending = False)

1: Toy Story (1995)                                        17
593: Silence of the Lambs, The (1991)                      16
260: Star Wars: Episode IV - A New Hope (1977)             15
1210: Star Wars: Episode VI - Return of the Jedi (1983)    14
780: Independence Day (ID4) (1996)                         13
2762: Sixth Sense, The (1999)                              12
527: Schindler's List (1993)                               12
2571: Matrix, The (1999)                                   12
1265: Groundhog Day (1993)                                 12
2916: Total Recall (1990)                                  12
3578: Gladiator (2000)                                     12
2028: Saving Private Ryan (1998)                           11
1259: Stand by Me (1986)                                   11
296: Pulp Fiction (1994)                                   11
1198: Raiders of the Lost Ark (1981)                       11
2396: Shakespeare in Love (1998)                           11
318: Shawshank Redemption, The (1994)                      10
356: Forrest Gump (1994)                                   10
34: Babe (1995)                                            10
541: Blade Runner (1982)                                    9
dtype: int64

## 3. % of ratings 4+ (liking)

In [8]:
rating = (calculator>=4).astype(int) #평점이 4이상인 것을 1로 바꾸기
rating.head()

User,755,5277,1577,4388,1202,3823,5448,5347,4117,2765,5450,139,1940,3118,4656,4796,6037,3048,4790,4489
260: Star Wars: Episode IV - A New Hope (1977),0,1,0,0,1,0,0,1,1,1,0,0,0,0,1,0,0,1,1,0
1210: Star Wars: Episode VI - Return of the Jedi (1983),1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0
356: Forrest Gump (1994),0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
"318: Shawshank Redemption, The (1994)",0,0,1,0,0,1,0,0,1,1,0,0,1,0,0,0,0,1,0,1
"593: Silence of the Lambs, The (1991)",1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1

In [9]:
plus_4 = rating.sum(axis=1)
plus_4

260: Star Wars: Episode IV - A New Hope (1977)             8
1210: Star Wars: Episode VI - Return of the Jedi (1983)    5
356: Forrest Gump (1994)                                   3
318: Shawshank Redemption, The (1994)                      7
593: Silence of the Lambs, The (1991)                      7
3578: Gladiator (2000)                                     6
1: Toy Story (1995)                                        6
2028: Saving Private Ryan (1998)                           4
296: Pulp Fiction (1994)                                   4
1259: Stand by Me (1986)                                   4
2396: Shakespeare in Love (1998)                           3
2916: Total Recall (1990)                                  1
780: Independence Day (ID4) (1996)                         4
541: Blade Runner (1982)                                   4
1265: Groundhog Day (1993)                                 5
2571: Matrix, The (1999)                                   5
527: Schindler's List (1993)                               4
2762: Sixth Sense, The (1999)                              4
1198: Raiders of the Lost Ark (1981)                       3
34: Babe (1995)                                            4
dtype: int64

In [10]:
Positive_rating = plus_4/Popularity #평점이 4이상인 비율 구하기
movie["Positive_rating"] = Positive_rating
movie.head()

User,755,5277,1577,4388,1202,3823,5448,5347,4117,2765,...,3118,4656,4796,6037,3048,4790,4489,Mean,Popularity,Positive_rating
260: Star Wars: Episode IV - A New Hope (1977),1.0,5.0,NaN,NaN,4.0,2.0,NaN,4.0,5.0,4.0,...,3.0,4.0,NaN,NaN,4.0,5.0,1.0,3.266667,15,0.533333
1210: Star Wars: Episode VI - Return of the Jedi (1983),5.0,3.0,NaN,3.0,3.0,4.0,NaN,NaN,1.0,2.0,...,NaN,4.0,NaN,NaN,5.0,1.0,2.0,3.000000,14,0.357143
356: Forrest Gump (1994),2.0,NaN,NaN,NaN,4.0,4.0,3.0,NaN,NaN,NaN,...,3.0,NaN,1.0,NaN,1.0,NaN,2.0,2.700000,10,0.300000
"318: Shawshank Redemption, The (1994)",NaN,2.0,5.0,NaN,1.0,4.0,1.0,NaN,4.0,5.0,...,NaN,NaN,NaN,NaN,5.0,NaN,4.0,3.600000,10,0.700000
"593: Silence of the Lambs, The (1991)",4.0,4.0,2.0,NaN,4.0,NaN,1.0,3.0,2.0,3.0,...,2.0,5.0,3.0,4.0,1.0,NaN,5.0,3.062500,16,0.437500

In [11]:
Positive_rating.sort_values(ascending = False)

318: Shawshank Redemption, The (1994)                      0.700000
260: Star Wars: Episode IV - A New Hope (1977)             0.533333
3578: Gladiator (2000)                                     0.500000
541: Blade Runner (1982)                                   0.444444
593: Silence of the Lambs, The (1991)                      0.437500
2571: Matrix, The (1999)                                   0.416667
1265: Groundhog Day (1993)                                 0.416667
34: Babe (1995)                                            0.400000
296: Pulp Fiction (1994)                                   0.363636
2028: Saving Private Ryan (1998)                           0.363636
1259: Stand by Me (1986)                                   0.363636
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.357143
1: Toy Story (1995)                                        0.352941
527: Schindler's List (1993)                               0.333333
2762: Sixth Sense, The (1999)                              0.333333
780: Independence Day (ID4) (1996)                         0.307692
356: Forrest Gump (1994)                                   0.300000
2396: Shakespeare in Love (1998)                           0.272727
1198: Raiders of the Lost Ark (1981)                       0.272727
2916: Total Recall (1990)                                  0.083333
dtype: float64

## 4. Association with Toy Story

In [12]:
movie.shape

(20, 23)

In [14]:
association = []
for i in range(20):
    a = calculator.iloc(0)[i].notnull().values # 비교할 영화
    toy_story = calculator.loc["1: Toy Story (1995)"].notnull().values
    inter = a*toy_story # and 연산
    inter = list(inter)
    toy_story = list(toy_story)
    association.append(inter.count(True)/toy_story.count(True)) # x+y/x
movie["Association with Toy Story"] = association
movie.head()

User,755,5277,1577,4388,1202,3823,5448,5347,4117,2765,...,4656,4796,6037,3048,4790,4489,Mean,Popularity,Positive_rating,Association with Toy Story
260: Star Wars: Episode IV - A New Hope (1977),1.0,5.0,NaN,NaN,4.0,2.0,NaN,4.0,5.0,4.0,...,4.0,NaN,NaN,4.0,5.0,1.0,3.266667,15,0.533333,0.823529
1210: Star Wars: Episode VI - Return of the Jedi (1983),5.0,3.0,NaN,3.0,3.0,4.0,NaN,NaN,1.0,2.0,...,4.0,NaN,NaN,5.0,1.0,2.0,3.000000,14,0.357143,0.764706
356: Forrest Gump (1994),2.0,NaN,NaN,NaN,4.0,4.0,3.0,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,2.0,2.700000,10,0.300000,0.411765
"318: Shawshank Redemption, The (1994)",NaN,2.0,5.0,NaN,1.0,4.0,1.0,NaN,4.0,5.0,...,NaN,NaN,NaN,5.0,NaN,4.0,3.600000,10,0.700000,0.470588
"593: Silence of the Lambs, The (1991)",4.0,4.0,2.0,NaN,4.0,NaN,1.0,3.0,2.0,3.0,...,5.0,3.0,4.0,1.0,NaN,5.0,3.062500,16,0.437500,0.764706

In [15]:
# 내림차순 정렬 (맨 앞은 toy story이니 무시)
association.sort(reverse=True)
association

[1.0,
 0.8235294117647058,
 0.7647058823529411,
 0.7647058823529411,
 0.7647058823529411,
 0.6470588235294118,
 0.6470588235294118,
 0.5882352941176471,
 0.5882352941176471,
 0.5882352941176471,
 0.5294117647058824,
 0.5294117647058824,
 0.5294117647058824,
 0.5294117647058824,
 0.47058823529411764,
 0.47058823529411764,
 0.47058823529411764,
 0.47058823529411764,
 0.4117647058823529,
 0.4117647058823529]

## 5. Ratings correlation with Toy Story

In [16]:
corr = data.corr(method = 'pearson') #상관계수 분석
toy_cor = list(corr["1: Toy Story (1995)"])
del toy_cor[0] #첫번째 요소는 성별이니 삭제한다.
movie["Correlation with Toy Story"] = toy_cor
movie.head()

User,755,5277,1577,4388,1202,3823,5448,5347,4117,2765,...,4796,6037,3048,4790,4489,Mean,Popularity,Positive_rating,Association with Toy Story,Correlation with Toy Story
260: Star Wars: Episode IV - A New Hope (1977),1.0,5.0,NaN,NaN,4.0,2.0,NaN,4.0,5.0,4.0,...,NaN,NaN,4.0,5.0,1.0,3.266667,15,0.533333,0.823529,-0.119005
1210: Star Wars: Episode VI - Return of the Jedi (1983),5.0,3.0,NaN,3.0,3.0,4.0,NaN,NaN,1.0,2.0,...,NaN,NaN,5.0,1.0,2.0,3.000000,14,0.357143,0.764706,-0.314504
356: Forrest Gump (1994),2.0,NaN,NaN,NaN,4.0,4.0,3.0,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,2.0,2.700000,10,0.300000,0.411765,0.522913
"318: Shawshank Redemption, The (1994)",NaN,2.0,5.0,NaN,1.0,4.0,1.0,NaN,4.0,5.0,...,NaN,NaN,5.0,NaN,4.0,3.600000,10,0.700000,0.470588,0.888523
"593: Silence of the Lambs, The (1991)",4.0,4.0,2.0,NaN,4.0,NaN,1.0,3.0,2.0,3.0,...,3.0,4.0,1.0,NaN,5.0,3.062500,16,0.437500,0.764706,-0.568258

## 6. Mean rating difference by gender

In [17]:
female = data[data["Gender (1 =F, 0=M)"] == 1].T
male = data[data["Gender (1 =F, 0=M)"] == 0].T

female.drop("Gender (1 =F, 0=M)", inplace = True)
male.drop("Gender (1 =F, 0=M)", inplace = True)

In [18]:
female_mean = (female.sum(axis =1)/female.count(axis =1))
male_mean = (male.sum(axis =1)/male.count(axis =1))

movie["Female_mean"] = female_mean
movie["Male_mean"] = male_mean
movie["mean differences"] = movie["Female_mean"] - movie["Male_mean"]
movie.head()

User,755,5277,1577,4388,1202,3823,5448,5347,4117,2765,...,4790,4489,Mean,Popularity,Positive_rating,Association with Toy Story,Correlation with Toy Story,Female_mean,Male_mean,mean differences
260: Star Wars: Episode IV - A New Hope (1977),1.0,5.0,NaN,NaN,4.0,2.0,NaN,4.0,5.0,4.0,...,5.0,1.0,3.266667,15,0.533333,0.823529,-0.119005,3.428571,3.125000,0.303571
1210: Star Wars: Episode VI - Return of the Jedi (1983),5.0,3.0,NaN,3.0,3.0,4.0,NaN,NaN,1.0,2.0,...,1.0,2.0,3.000000,14,0.357143,0.764706,-0.314504,3.000000,3.000000,0.000000
356: Forrest Gump (1994),2.0,NaN,NaN,NaN,4.0,4.0,3.0,NaN,NaN,NaN,...,NaN,2.0,2.700000,10,0.300000,0.411765,0.522913,3.000000,2.250000,0.750000
"318: Shawshank Redemption, The (1994)",NaN,2.0,5.0,NaN,1.0,4.0,1.0,NaN,4.0,5.0,...,NaN,4.0,3.600000,10,0.700000,0.470588,0.888523,3.800000,3.400000,0.400000
"593: Silence of the Lambs, The (1991)",4.0,4.0,2.0,NaN,4.0,NaN,1.0,3.0,2.0,3.0,...,NaN,5.0,3.062500,16,0.437500,0.764706,-0.568258,2.714286,3.333333,-0.619048

In [19]:
# 음수는 남자가 평균이 더 큰 경우, 양수는 여자가 평균이 더 큰 경우이다.
movie["mean differences"].sort_values()

1198: Raiders of the Lost Ark (1981)                      -1.666667
527: Schindler's List (1993)                              -1.000000
2571: Matrix, The (1999)                                  -0.742857
1265: Groundhog Day (1993)                                -0.666667
593: Silence of the Lambs, The (1991)                     -0.619048
1259: Stand by Me (1986)                                  -0.571429
2916: Total Recall (1990)                                 -0.485714
2028: Saving Private Ryan (1998)                          -0.392857
780: Independence Day (ID4) (1996)                        -0.190476
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.000000
3578: Gladiator (2000)                                     0.166667
260: Star Wars: Episode IV - A New Hope (1977)             0.303571
2762: Sixth Sense, The (1999)                              0.333333
318: Shawshank Redemption, The (1994)                      0.400000
541: Blade Runner (1982)                                   0.500000
356: Forrest Gump (1994)                                   0.750000
1: Toy Story (1995)                                        1.271429
296: Pulp Fiction (1994)                                   1.375000
34: Babe (1995)                                            1.428571
2396: Shakespeare in Love (1998)                           2.107143
Name: mean differences, dtype: float64

## 7. % of ratings 4+ separately for males and females

In [20]:
female_rating = (female>=4).astype(int) #평점이 4이상인 것을 1로 바꾸기(여자)
male_rating = (male>=4).astype(int) #평점이 4이상인 것을 1로 바꾸기(남자)

female_plus_4 = female_rating.sum(axis=1)
male_plus_4 = male_rating.sum(axis=1)

In [21]:
female_popularity = female.count(axis =1)
male_popularity = male.count(axis =1)

Female_positive_rating = female_plus_4/female_popularity #평점이 4이상인 비율 구하기
Male_positive_rating = male_plus_4/male_popularity #평점이 4이상인 비율 구하기

movie["Female_positive_rating"] = Female_positive_rating
movie["Male_positive_rating"] = Male_positive_rating
movie["Positive_difference"] = movie["Female_positive_rating"] - movie["Male_positive_rating"]
movie.head()

User,755,5277,1577,4388,1202,3823,5448,5347,4117,2765,...,Popularity,Positive_rating,Association with Toy Story,Correlation with Toy Story,Female_mean,Male_mean,mean differences,Female_positive_rating,Male_positive_rating,Positive_difference
260: Star Wars: Episode IV - A New Hope (1977),1.0,5.0,NaN,NaN,4.0,2.0,NaN,4.0,5.0,4.0,...,15,0.533333,0.823529,-0.119005,3.428571,3.125000,0.303571,0.571429,0.500000,0.071429
1210: Star Wars: Episode VI - Return of the Jedi (1983),5.0,3.0,NaN,3.0,3.0,4.0,NaN,NaN,1.0,2.0,...,14,0.357143,0.764706,-0.314504,3.000000,3.000000,0.000000,0.500000,0.250000,0.250000
356: Forrest Gump (1994),2.0,NaN,NaN,NaN,4.0,4.0,3.0,NaN,NaN,NaN,...,10,0.300000,0.411765,0.522913,3.000000,2.250000,0.750000,0.500000,0.000000,0.500000
"318: Shawshank Redemption, The (1994)",NaN,2.0,5.0,NaN,1.0,4.0,1.0,NaN,4.0,5.0,...,10,0.700000,0.470588,0.888523,3.800000,3.400000,0.400000,0.800000,0.600000,0.200000
"593: Silence of the Lambs, The (1991)",4.0,4.0,2.0,NaN,4.0,NaN,1.0,3.0,2.0,3.0,...,16,0.437500,0.764706,-0.568258,2.714286,3.333333,-0.619048,0.285714,0.555556,-0.269841

In [22]:
# 음수는 남자가 평균이 더 큰 경우, 양수는 여자가 평균이 더 큰 경우이다.
movie["Positive_difference"].sort_values()

1198: Raiders of the Lost Ark (1981)                      -0.500000
2571: Matrix, The (1999)                                  -0.371429
527: Schindler's List (1993)                              -0.333333
593: Silence of the Lambs, The (1991)                     -0.269841
2916: Total Recall (1990)                                 -0.200000
1265: Groundhog Day (1993)                                -0.166667
2762: Sixth Sense, The (1999)                              0.000000
3578: Gladiator (2000)                                     0.000000
780: Independence Day (ID4) (1996)                         0.047619
260: Star Wars: Episode IV - A New Hope (1977)             0.071429
1259: Stand by Me (1986)                                   0.178571
318: Shawshank Redemption, The (1994)                      0.200000
2028: Saving Private Ryan (1998)                           0.214286
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.250000
1: Toy Story (1995)                                        0.371429
296: Pulp Fiction (1994)                                   0.416667
356: Forrest Gump (1994)                                   0.500000
541: Blade Runner (1982)                                   0.550000
34: Babe (1995)                                            0.571429
2396: Shakespeare in Love (1998)                           0.750000
Name: Positive_difference, dtype: float64

## Surprise 라이브러리를 통한 추천시스템

In [23]:
!pip install surprise

Requirement already satisfied: surprise in d:\anaconda\lib\site-packages (0.1)
Requirement already satisfied: scikit-surprise in d:\anaconda\lib\site-packages (from surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in d:\anaconda\lib\site-packages (from scikit-surprise->surprise) (1.16.5)
Requirement already satisfied: six>=1.10.0 in d:\anaconda\lib\site-packages (from scikit-surprise->surprise) (1.12.0)
Requirement already satisfied: joblib>=0.11 in d:\anaconda\lib\site-packages (from scikit-surprise->surprise) (0.13.2)
Requirement already satisfied: scipy>=1.0.0 in d:\anaconda\lib\site-packages (from scikit-surprise->surprise) (1.3.1)

In [24]:
import surprise
#데이터를 읽어들이는 객체 생성(rating scale : 평점의 범위)
reader = surprise.Reader(rating_scale = (1,5))
reader

In [25]:
data.head()

,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
User,,,,,,,,,,,,,,,,,,,,,
755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,NaN,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,4.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,NaN,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN

In [16]:
recommend = data.drop("Gender (1 =F, 0=M)", axis=1)

In [40]:
recommend = recommend.stack()
recommend_df = recommend.reset_index()
col = ["User", "Movie", "Rating"]
recommend_df.columns = col
recommend_df.head()

   User                                              Movie  Rating
0   755     260: Star Wars: Episode IV - A New Hope (1977)     1.0
1   755  1210: Star Wars: Episode VI - Return of the Je...     5.0
2   755                           356: Forrest Gump (1994)     2.0
3   755              593: Silence of the Lambs, The (1991)     4.0
4   755                             3578: Gladiator (2000)     4.0

In [41]:
# "User", "Movie", "Rating" 순으로 데이터 생성
data = surprise.Dataset.load_from_df(recommend_df[col], reader)

In [42]:
print(col)
print(data)

['User', 'Movie', 'Rating']
<surprise.dataset.DatasetAutoFolds object at 0x0000019F7C8DD3C8>

In [43]:
# 학습
trainset = data.build_full_trainset()
option = {'name' : 'pearson'} #pearson similarity 사용
algo = surprise.KNNBasic(sim_options=option) #surprise.KNNBasic 사용
algo.fit(trainset) #학습

Computing the pearson similarity matrix...
Done computing similarity matrix.

In [47]:
User_list = list(set(recommend_df.User))
Movie_list = list(set(recommend_df.Movie))

In [55]:
who = int(input("ID를 입력하시오: "))

index = User_list.index(who)
print('user_index: ', index)

result = algo.get_neighbors(index, k=3) #knn 모델, 유사한 사용자 3명을 보이게 함ㄴ
print('당신과 유사한 고객은?: ', result)

print('당신에게 추천하는 상품: ', '\n')

recommend_item = [] #추천할 item
for r1 in result:
    max_rating = data.df[data.df['User']==User_list[r1]]['Rating'].max()
    cos_id = data.df[(data.df['Rating']==max_rating)&(data.df['User']==User_list[r1])]['Movie'].values
    recommend_item.extend(cos_id)
                     
print(recommend_item)

ID를 입력하시오: 755
user_index:  19
당신과 유사한 고객은?:  [16, 0, 12]
당신에게 추천하는 상품:

['1198: Raiders of the Lost Ark (1981)', '593: Silence of the Lambs, The (1991)', '541: Blade Runner (1982)', '1265: Groundhog Day (1993)', '2762: Sixth Sense, The (1999)', '2396: Shakespeare in Love (1998)', '1265: Groundhog Day (1993)']